<form #memberForm="ngForm">
  <div class="form-group">
    <label for="name">
      Name <span class="text-danger">*</span>
    </label>
    <input type="text" class="form-control {{(name.invalid)&& (name.dirty || name.touched || memberForm.submitted) ? 'input-error-border' : ''}}" id="name" required pattern="^\s*[\w]+[\s\w\W]*$"
           [(ngModel)]="member.name" name="name" #name="ngModel">
    <div *ngIf="name.invalid && (name.dirty || name.touched  || memberForm.submitted)" class="validation-error">
      <div *ngIf="name.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="name.errors?.['pattern']">
        Special characters not allowed at the beginning.
      </div>
    </div>
  </div>
  <div class="form-group ">
    <label>
      Occupation <span class="text-danger">*</span>
    </label>
    <select class="form-control {{occupation.invalid && (occupation.dirty || occupation.touched || memberForm.submitted) ? 'input-error-border': ''}}" required name="occupationId"
            [(ngModel)]="member.occupationId" #occupation="ngModel">
      <option [ngValue]="undefined" disabled>--Select Occupation--</option>
      <option *ngFor="let occupation of occupations" [ngValue]="occupation.id"> {{occupation.name}}</option>
    </select>
    <div *ngIf="occupation.invalid && (occupation.dirty || occupation.touched || memberForm.submitted)" class="validation-error">
      <div *ngIf="occupation.errors?.['required']">
        Occupation is required.
      </div>
    </div>
  </div>
</form>
